/* Container Styling */
.banner-container {
    height: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
}

/* Image Container Styling */
.banner-image-container {
    position: relative;
    width: 100%;
    padding-top: 60%; /* Adjust according to your image aspect ratio */
    overflow: hidden;
    border-radius: 8px;
}

/* Image Styling */
.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    object-fit: cover;
}

/* Overlay Styling */
.overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Ensure the text is visible on the overlay */
}

.search-img-div {
    margin-bottom: 0;
}

.search-img {
    height: 4em;
    margin-bottom: 0;
}

.search-title {
    font-size: xx-large;
}

/* Search Input Styling */
.search-school {
    text-align: center;
    border-radius: 8px;
}

.search-input::selection {
    color: white;
}

.search-school-input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 43px;
    box-sizing: border-box;
    color: rgb(158, 158, 158);
    cursor: text;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    margin: 0;
    margin-bottom: 26em;
    max-width: 545px;
    outline: none;
    padding: 16px 60px;
    text-align: start;
    width: 438px;
    -webkit-font-smoothing: antialiased;
}

/* Search Button Styling */
.search-button:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .search-title {
        font-size: 2.5em;
    }
    .banner-image-container {
        width: 100%;
    }
    .search-school-input {
        width: 30em;
        height: 1.8em;
        font-size: 0.9em;
    }
    .search-button {
        font-size: 0.9em;
        padding: 0.6em 0.9em;
    }
    .banner-image {
        max-width: fit-content;
        margin-right: auto;
        margin-left: 8px;
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .search-title {
        font-size: 2em;
    }
    .search-school-input {
        width: 20em;
        height: 1.5em;
        font-size: 0.8em;
    }
    .search-button {
        font-size: 0.8em;
        padding: 0.5em 0.8em;
    }
}
