.feature-heading{
    margin: auto;
    width: 70%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}


.features {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; /* Adjust as needed */
    text-align: center;
    margin-left: 15.5%;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    
}

.content-container{ 
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.content-description{
    font-weight: 350;
}

.title{
    font-size: 4em; 
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}
.title-description{
    margin-top: 15px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.feature-container{
    padding: 80px;
    background-image: url(/Features-background--.png);
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
}

.feature-img{
    width: 95%;
    height: 100px;
    text-align: center;
    margin-bottom: 0px;
    object-fit: cover;
}

.feature-box{
    margin-top: 30px;
    border: 0.7px solid rgba(56, 56, 56, 0.855);
    border-radius: 10px;
    width: 100%; /* Use width: 100% for responsive design */
    max-width: 350px; /* Max width to prevent it from getting too large */
    height: auto; /* Adjust height as needed or remove it */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.sign-up{
    width: 10em;
    height: 3em;
    border-radius: 40px;
    background-color: rgba(92, 171, 223);
    border: 1px transparent;
    color: white;
    font-size: 17px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .feature-box {
        width: 90%; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .feature-box {
        width: 90%;
         /* Full width for smallest screens */
    }
}